h1 { font-family:'Times New Roman', Times, serif;
    color: #ce84ad;

    }
    body {
      background-color: #f7ebec;
    }

    p {color:#ac9fbb;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
  }
    

    h2 {font-family: 'Times New Roman', Times, serif;
    color: #ce84ad;}

    ul {color:#ac9fbb;
      font-style: italic;
      line-height: 20px;
      font-weight: bold;
    
    }