h1, h2 { font-family:'Times New Roman', Times, serif;
    color: #ce84ad;

    }
    h1 { text-align: center;
    
    }

    body {
      background-color: #f7ebec;
    }

    p {color:#ac9fbb;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
  }

    ul {color:#ac9fbb;
      font-style: italic;
      line-height: 20px;
      font-weight: bold;
    
    }

    ul li:nth-child(odd) {
      background-color: #dbafc1;}


    #perfil {
      float: left;
      padding: 10px;
      margin-right: 10px;
      background-color: #dbafc1;
      
    
    }

    .imagem-texto {
      height: 270px;
      margin-top: 50px;
    
      
    }

